body {
  min-height: 100vh;
  background-color: #fafafa;
}

.artist-hero {
  min-height: 400px;
  background-size: contain;
}

.artist-hero:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(39 2 2 / 70%);
}

.cool-text {
  font-weight: 300;
  font-style: italic;
  text-shadow: 1px 3px 2px yellow;
}
